<!doctype html>

<html lang="en">

  <head>
    <!-- Required meta tags -->
      <meta http-equiv="refresh" content="10" >
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">




      <script src="https://kit.fontawesome.com/ef08917f02.js" crossorigin="anonymous"></script>



    <title>RSI-STOCK</title>
  </head>

  <body>
  <h1>
      <nav class="navbar navbar-expand-md navbar-dark bg-dark justify-content-around">

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">

            <li class="nav-item active">

                <a class="nav-link" href="/home">RSI-STOCK <span class="sr-only">(current)</span></a>

            </li>

            <li class="nav-item my-2 my-lg-0">

                <a class="nav-link " href="/secondpage">ENGUNFLING</a>

            </li>

        </ul>
      </div>
    </nav>

  </h1>

    <h6>
    <div =id='mytable' class="d-flex p-2 h-25 d-inline-block  h-10">
    <table class=" table table-hover table-dark  " >
        <thead>
            <tr>
                <!-- Your Columns HERE -->
                <th scope="col " class=" text-light text-center font-weight-bold p-3 h-10 "> Zone</th>
                <th scope="col" class="text-light text-center font-weight-bold p-3 h-10 ">I</th>
                <th scope="col" class="text-light text-center font-weight-bold p-3 h-10 ">M1</th>
                <th scope="col" class="text-light text-center font-weight-bold p-3 h-10 ">M5</th>
                <th scope="col" class="text-light text-center font-weight-bold p-3 h-10 ">M15</th>
                <th scope="col" class="text-light text-center font-weight-bold p-3 h-10 ">H1</th>
                <th scope="col" class="text-light text-center font-weight-bold p-3 h-10 ">H4</th>
                <th scope="col" class="text-light text-center font-weight-bold p-3 h-10 ">D1</th>
            </tr>
        </thead>
        <tbody id="YourBodyId">
            <!-- Your rows inside the table HERE: -->
            {% for item in items %}
                <tr>


                    {% if item.Zone  == 'n' %}
                        <td  class="p-3 mb-2 bg-muted text-dark " > </td>
                    {% elif item.Zone == 'f'  %}
                        <td  class="p-3 mb-2 bg-danger text-danger " >  </td>
                    {% elif item.Zone == 'l' %}

                        <td  class="p-3 mb-2 bg-success text-success " >  </td>
                    {% elif item.Zone == 'Er'  %}
                        <td  class="p-3 mb-2 bg-danger text-light " > E  </td>
                    {% elif item.Zone == 'E'  %}
                        <td  class="p-3 mb-2 bg-success text-light " > E </td>
                    {% endif %}

                    <td class="p-3 mb-2 bg-muted text-white text-center font-weight-bold "> {{item.name}} </td>

                    {% if item.M1 == 'chay' %}
                    <form method="POST">
                        {{fuck1.hidden_tag() }}
                        <td  class="p-3 mb-2 bg-muted text-dark" >  </td>
                    </form>

                    {% elif item.M1 == 'r'  %}
                    <div class="myDIV">
                    <form method="POST">
                        {{fuck1.hidden_tag() }}
                        <td  class="p-3 mb-2 bg-danger text-danger myDIV" >  <input id="fuck1" name="fuck1" type="hidden" value="{{[item.name,'M1']}}">{{ fuck1.submit(class="btn btn-secondary float-right bg-danger text-danger h-10 d-inline-block") }}</td>
                    </form>
                    </div>
                        {% elif item.M1 == 'Or' %}
                    <form method="POST">
                        {{fuck1.hidden_tag() }}

                        <td  class="p-3 mb-2 bg-danger text-light text-center font-weight-bold myDIV" > <i class="fas fa-check-circle"></i> <input id="fuck1" name="fuck1" type="hidden" value="{{[item.name,'M1']}}">{{ fuck1.submit(class="btn btn-secondary float-right bg-danger text-danger h-10 d-inline-block") }}</td>
                    </form>
                        {% elif item.M1 == 'v' %}
                    <form method="POST">
                        {{fuck1.hidden_tag() }}
                        <td  class="p-3 mb-2 bg-success text-success myDIV" >  <input id="fuck1" name="fuck1" type="hidden" value="{{[item.name,'M1']}}">{{ fuck1.submit(class="btn btn-secondary float-right bg-success text-success h-10 d-inline-block") }}</td>
                    </form>
                        {% elif item.M1 == 'O' %}
                    <form method="POST">
                        {{fuck1.hidden_tag() }}
                        <td  class="p-3 mb-2 bg-success text-light text-center font-weight-bold myDIV" > <i class="fas fa-check-circle"></i> <input id="fuck1" name="fuck1" type="hidden" value="{{[item.name,'M1']}}">{{ fuck1.submit(class="btn btn-secondary float-right bg-success text-success h-10 d-inline-block") }}</td>
                    </form>
                        {% elif item.M1 == 'j' %}
                    <form method="POST">
                        {{fuck1.hidden_tag() }}
                        <td  class="p-3 mb-2 bg-warning text-warning myDIV" > p <input id="fuck1" name="fuck1" type="hidden" value="{{[item.name,'M1']}}">{{ fuck1.submit(class="btn btn-secondary float-right bg-warning text-warning h-10 d-inline-block") }}</td>
                    </form>
                        {% elif item.M1 == 'Oj' or item.M1 == 'Ojr' %}
                    <form method="POST">
                        {{fuck1.hidden_tag() }}
                        <td  class="p-3 mb-2 bg-warning text-light text-center font-weight-bold myDIV" > <i class="fas fa-check-circle"></i> <input id="fuck1" name="fuck1" type="hidden" value="{{[item.name,'M1']}}">{{ fuck1.submit(class="btn btn-secondary float-right bg-warning border border-warning text-warning h-10 d-inline-block") }}</td>
                    </form>
                        {% elif item.M1 == 'T'  %}
                    <form method="POST">
                        {{fuck1.hidden_tag() }}
                        <td  class="p-3 mb-2 bg-success text-light text-center font-weight-bold myDIV" > T <input id="fuck1" name="fuck1" type="hidden" value="{{[item.name,'M1']}}">{{ fuck1.submit(class="btn btn-secondary float-right bg-warning border border-warning text-warning h-10 d-inline-block") }}</td>
                    </form>
                        {% elif item.M1 == 'Tr' %}
                    <form method="POST">
                        {{fuck1.hidden_tag() }}
                        <td  class="p-3 mb-2 bg-danger text-light text-center font-weight-bold myDIV" > T <input id="fuck1" name="fuck1" type="hidden" value="{{[item.name,'M1']}}">{{ fuck1.submit(class="btn btn-secondary float-right bg-warning border border-warning text-warning h-10 d-inline-block") }}</td>
                    </form>



                    {% elif item.M1 == 'r_att'  %}
                    <div class="myDIV">
                    <form method="POST">
                        {{fuck1.hidden_tag() }}
                        <td  class="p-3 mb-2 bg-danger text-light myDIV" >  <i class="fas fa-exclamation-triangle"></i> <input id="fuck1" name="fuck1" type="hidden" value="{{[item.name,'M1']}}"><div class="hide">{{ fuck1.submit(class="btn btn-secondary float-right bg-danger text-danger") }}</div></td>
                    </form>
                    </div>
                        {% elif item.M1 == 'Or_att' %}
                    <form method="POST">
                        {{fuck1.hidden_tag() }}

                        <td  class="p-3 mb-2 bg-danger text-light text-center font-weight-bold myDIV" > <i class="fas fa-check-circle"></i> <i class="fas fa-exclamation-triangle"></i> <input id="fuck1" name="fuck1" type="hidden" value="{{[item.name,'M1']}}">{{ fuck1.submit(class="btn btn-secondary float-right bg-danger text-danger") }}</td>
                    </form>
                        {% elif item.M1 == 'v_att' %}
                    <form method="POST">
                        {{fuck1.hidden_tag() }}
                        <td  class="p-3 mb-2 bg-success text-light myDIV" >  <i class="fas fa-exclamation-triangle"></i> <input id="fuck1" name="fuck1" type="hidden" value="{{[item.name,'M1']}}">{{ fuck1.submit(class="btn btn-secondary float-right bg-success text-success") }}</td>
                    </form>
                        {% elif item.M1 == 'O_att' %}
                    <form method="POST">
                        {{fuck1.hidden_tag() }}
                        <td  class="p-3 mb-2 bg-success text-light text-center font-weight-bold myDIV" > <i class="fas fa-check-circle"></i> <i class="fas fa-exclamation-triangle"></i> <input id="fuck1" name="fuck1" type="hidden" value="{{[item.name,'M1']}}">{{ fuck1.submit(class="btn btn-secondary float-right bg-success text-success") }}</td>
                    </form>
                        {% elif item.M1 == 'j_att' %}
                    <form method="POST">
                        {{fuck1.hidden_tag() }}
                        <td  class="p-3 mb-2 bg-warning text-light myDIV" >  <i class="fas fa-exclamation-triangle"></i> <input id="fuck1" name="fuck1" type="hidden" value="{{[item.name,'M1']}}">{{ fuck1.submit(class="btn btn-secondary float-right bg-warning text-warning") }}</td>
                    </form>
                        {% elif item.M1 == 'Oj_att' or item.M1 == 'Ojr_att' %}
                    <form method="POST">
                        {{fuck1.hidden_tag() }}
                        <td  class="p-3 mb-2 bg-warning text-light text-center font-weight-bold myDIV" > <i class="fas fa-check-circle"></i> <i class="fas fa-exclamation-triangle"></i> <input id="fuck1" name="fuck1" type="hidden" value="{{[item.name,'M1']}}">{{ fuck1.submit(class="btn btn-secondary float-right bg-warning border border-warning text-warning") }}</td>
                    </form>




                        {% endif %}




                    {% if item.M5 == 'chay' %}
                    <form method="POST">
                        {{fuck1.hidden_tag() }}

                        <td  class="p-3 mb-2 bg-muted text-dark" > p </td>
                    </form>
                        {% elif item.M5 == 'r'  %}
                    <div class="myDIV">
                    <form method="POST">
                        {{fuck1.hidden_tag() }}
                        <td  class="p-3 mb-2 bg-danger text-danger myDIV" > p <input id="fuck1" name="fuck1" type="hidden" value="{{[item.name,'M5']}}">{{ fuck1.submit(class="btn btn-secondary float-right bg-danger text-danger") }}</td>
                    </form>
                    </div>
                        {% elif item.M5 == 'Or' %}
                    <form method="POST">
                        {{fuck1.hidden_tag() }}
                        <td  class="p-3 mb-2 bg-danger text-light text-center font-weight-bold myDIV"  > <i class="fas fa-check-circle"></i> <input id="fuck1" name="fuck1" type="hidden" value="{{[item.name,'M5']}}">{{ fuck1.submit(class="btn btn-secondary float-right bg-danger text-danger") }}</td>
                    </form>
                        {% elif item.M5 == 'v' %}
                    <form method="POST">
                        {{fuck1.hidden_tag() }}
                        <td  class="p-3 mb-2 bg-success text-success myDIV" > p <input id="fuck1" name="fuck1" type="hidden" value="{{[item.name,'M5']}}">{{ fuck1.submit(class="btn btn-secondary float-right bg-success text-success") }}</td>
                    </form>
                         {% elif item.M5 == 'O' %}
                    <form method="POST">
                        {{fuck1.hidden_tag() }}
                        <td  class="p-3 mb-2 bg-success text-light text-center font-weight-bold myDIV" > <i class="fas fa-check-circle"></i> <input id="fuck1" name="fuck1" type="hidden" value="{{[item.name,'M5']}}">{{ fuck1.submit(class="btn btn-secondary float-right bg-success text-success") }}</td>
                    </form>
                        {% elif item.M5 == 'j'  %}
                    <form method="POST">
                        {{fuck1.hidden_tag() }}
                        <td  class="p-3 mb-2 bg-warning text-warning myDIV" > p <input id="fuck1" name="fuck1" type="hidden" value="{{[item.name,'M5']}}">{{ fuck1.submit(class="btn btn-secondary float-right bg-warning text-warning") }}</td>
                    </form>
                        {% elif item.M5 == 'Ojr' or item.M5 == 'Oj' %}
                    <form method="POST">
                        {{fuck1.hidden_tag() }}
                        <td  class="p-3 mb-2 bg-warning text-light text-center font-weight-bold myDIV" > <i class="fas fa-check-circle"></i> <input id="fuck1" name="fuck1" type="hidden" value="{{[item.name,'M5']}}">{{ fuck1.submit(class="btn btn-secondary float-right bg-warning text-warning") }}</td>
                    </form>
                        {% elif item.M5 == 'T'  %}
                    <form method="POST">
                        {{fuck1.hidden_tag() }}
                        <td  class="p-3 mb-2 bg-success text-light text-center font-weight-bold myDIV" > T <input id="fuck1" name="fuck1" type="hidden" value="{{[item.name,'M5']}}">{{ fuck1.submit(class="btn btn-secondary float-right bg-warning border border-warning text-warning h-10 d-inline-block") }}</td>
                    </form>
                        {% elif item.M5 == 'Tr' %}
                    <form method="POST">
                        {{fuck1.hidden_tag() }}
                        <td  class="p-3 mb-2 bg-danger text-light text-center font-weight-bold myDIV" > T <input id="fuck1" name="fuck1" type="hidden" value="{{[item.name,'M5']}}">{{ fuck1.submit(class="btn btn-secondary float-right bg-warning border border-warning text-warning h-10 d-inline-block") }}</td>
                    </form>






                        {% elif item.M5 == 'r_att'  %}
                    <div class="myDIV">
                    <form method="POST">
                        {{fuck1.hidden_tag() }}
                        <td  class="p-3 mb-2 bg-danger text-light myDIV" >  <i class="fas fa-exclamation-triangle"></i> <input id="fuck1" name="fuck1" type="hidden" value="{{[item.name,'M5']}}"><div class="hide">{{ fuck1.submit(class="btn btn-secondary float-right bg-danger text-danger") }}</div></td>
                    </form>
                    </div>
                        {% elif item.M5 == 'Or_att' %}
                    <form method="POST">
                        {{fuck1.hidden_tag() }}
                        <td  class="p-3 mb-2 bg-danger text-light text-center font-weight-bold myDIV"  > <i class="fas fa-check-circle"></i> <i class="fas fa-exclamation-triangle"></i> <input id="fuck1" name="fuck1" type="hidden" value="{{[item.name,'M5']}}">{{ fuck1.submit(class="btn btn-secondary float-right bg-danger text-danger") }}</td>
                    </form>
                        {% elif item.M5 == 'v_att' %}
                    <form method="POST">
                        {{fuck1.hidden_tag() }}
                        <td  class="p-3 mb-2 bg-success text-light myDIV" >  <i class="fas fa-exclamation-triangle"></i> <input id="fuck1" name="fuck1" type="hidden" value="{{[item.name,'M5']}}">{{ fuck1.submit(class="btn btn-secondary float-right bg-success text-success") }}</td>
                    </form>
                         {% elif item.M5 == 'O_att' %}
                    <form method="POST">
                        {{fuck1.hidden_tag() }}
                        <td  class="p-3 mb-2 bg-success text-light text-center font-weight-bold myDIV" > <i class="fas fa-check-circle"></i> <i class="fas fa-exclamation-triangle"></i> <input id="fuck1" name="fuck1" type="hidden" value="{{[item.name,'M5']}}">{{ fuck1.submit(class="btn btn-secondary float-right bg-success text-success") }}</td>
                    </form>
                        {% elif item.M5 == 'j_att'  %}
                    <form method="POST">
                        {{fuck1.hidden_tag() }}
                        <td  class="p-3 mb-2 bg-warning text-light myDIV" >  <i class="fas fa-exclamation-triangle"></i> <input id="fuck1" name="fuck1" type="hidden" value="{{[item.name,'M5']}}">{{ fuck1.submit(class="btn btn-secondary float-right bg-warning text-warning") }}</td>
                    </form>
                        {% elif item.M5 == 'Ojr_att' or item.M5 == 'Oj_att' %}
                    <form method="POST">
                        {{fuck1.hidden_tag() }}
                        <td  class="p-3 mb-2 bg-warning text-light text-center font-weight-bold myDIV" > <i class="fas fa-check-circle"></i> <i class="fas fa-exclamation-triangle"></i> <input id="fuck1" name="fuck1" type="hidden" value="{{[item.name,'M5']}}">{{ fuck1.submit(class="btn btn-secondary float-right bg-warning text-warning") }}</td>
                    </form>


                        {% endif %}





                    {% if item.M15 == 'chay' %}
                    <form method="POST">
                        {{fuck1.hidden_tag() }}
                        <td  class="p-3 mb-2 bg-muted text-dark" > p </td>
                    </form>
                        {% elif item.M15 == 'r'  %}
                    <form method="POST">
                        {{fuck1.hidden_tag() }}
                        <td  class="p-3 mb-2 bg-danger text-danger myDIV" > p <input id="fuck1" name="fuck1" type="hidden" value="{{[item.name,'M15']}}">{{ fuck1.submit(class="btn btn-secondary float-right bg-danger text-danger") }}</td>
                    </form>
                        {% elif item.M15 == 'Or' %}
                    <form method="POST">
                        {{fuck1.hidden_tag() }}
                        <td  class="p-3 mb-2 bg-danger text-light text-center font-weight-bold myDIV" > <i class="fas fa-check-circle"></i> <input id="fuck1" name="fuck1" type="hidden" value="{{[item.name,'M15']}}">{{ fuck1.submit(class="btn btn-secondary float-right bg-danger text-danger") }}</td>
                    </form>
                        {% elif item.M15 == 'v'  %}
                    <form method="POST">
                        {{fuck1.hidden_tag() }}
                        <td  class="p-3 mb-2 bg-success text-success myDIV" > p <input id="fuck1" name="fuck1" type="hidden" value="{{[item.name,'M15']}}">{{ fuck1.submit(class="btn btn-secondary float-right bg-success text-success") }}</td>
                    </form>
                         {% elif item.M15 == 'O' %}
                    <form method="POST">
                        {{fuck1.hidden_tag() }}
                        <td  class="p-3 mb-2 bg-success text-light text-center font-weight-bold myDIV" > <i class="fas fa-check-circle"></i> <input id="fuck1" name="fuck1" type="hidden" value="{{[item.name,'M15']}}">{{ fuck1.submit(class="btn btn-secondary float-right bg-success text-success") }}</td>
                    </form>
                        {% elif item.M15 == 'j'  %}
                    <form method="POST">
                        {{fuck1.hidden_tag() }}
                        <td  class="p-3 mb-2 bg-warning text-warning myDIV" > p <input id="fuck1" name="fuck1" type="hidden" value="{{[item.name,'M15']}}">{{ fuck1.submit(class="btn btn-secondary float-right bg-warning text-warning") }}</td>
                    </form>
                         {% elif item.M15 == 'Ojr' or item.M15 == 'Oj' %}
                    <form method="POST">
                        {{fuck1.hidden_tag() }}
                        <td  class="p-3 mb-2 bg-warning text-light text-center font-weight-bold myDIV" > <i class="fas fa-check-circle"></i> <input id="fuck1" name="fuck1" type="hidden" value="{{[item.name,'M15']}}">{{ fuck1.submit(class="btn btn-secondary float-right bg-warning text-warning") }}</td>
                    </form>
                        {% elif item.M15 == 'T'  %}
                    <form method="POST">
                        {{fuck1.hidden_tag() }}
                        <td  class="p-3 mb-2 bg-success text-light text-center font-weight-bold myDIV" > T <input id="fuck1" name="fuck1" type="hidden" value="{{[item.name,'M15']}}">{{ fuck1.submit(class="btn btn-secondary float-right bg-warning border border-warning text-warning h-10 d-inline-block") }}</td>
                    </form>
                        {% elif item.M15 == 'Tr' %}
                    <form method="POST">
                        {{fuck1.hidden_tag() }}
                        <td  class="p-3 mb-2 bg-danger text-light text-center font-weight-bold myDIV" > T <input id="fuck1" name="fuck1" type="hidden" value="{{[item.name,'M15']}}">{{ fuck1.submit(class="btn btn-secondary float-right bg-warning border border-warning text-warning h-10 d-inline-block") }}</td>
                    </form>



                        {% elif item.M15 == 'r_att'  %}
                    <form method="POST">
                        {{fuck1.hidden_tag() }}
                        <td  class="p-3 mb-2 bg-danger text-light myDIV" >  <i class="fas fa-exclamation-triangle"></i> <input id="fuck1" name="fuck1" type="hidden" value="{{[item.name,'M15']}}">{{ fuck1.submit(class="btn btn-secondary float-right bg-danger hide") }}</td>
                    </form>
                        {% elif item.M15 == 'Or_att' %}
                    <form method="POST">
                        {{fuck1.hidden_tag() }}
                        <td  class="p-3 mb-2 bg-danger text-light text-center font-weight-bold myDIV" > <i class="fas fa-check-circle"></i> <i class="fas fa-exclamation-triangle"></i> <input id="fuck1" name="fuck1" type="hidden" value="{{[item.name,'M15']}}">{{ fuck1.submit(class="btn btn-secondary float-right bg-danger hide") }}</td>
                    </form>
                        {% elif item.M15 == 'v_att'  %}
                    <form method="POST">
                        {{fuck1.hidden_tag() }}
                        <td  class="p-3 mb-2 bg-success text-light myDIV" >  <i class="fas fa-exclamation-triangle"></i> <input id="fuck1" name="fuck1" type="hidden" value="{{[item.name,'M15']}}">{{ fuck1.submit(class="btn btn-secondary float-right bg-success text-success") }}</td>
                    </form>
                         {% elif item.M15 == 'O_att' %}
                    <form method="POST">
                        {{fuck1.hidden_tag() }}
                        <td  class="p-3 mb-2 bg-success text-light text-center font-weight-bold myDIV" > <i class="fas fa-check-circle"></i> <i class="fas fa-exclamation-triangle"></i> <input id="fuck1" name="fuck1" type="hidden" value="{{[item.name,'M15']}}">{{ fuck1.submit(class="btn btn-secondary float-right bg-success text-success") }}</td>
                    </form>
                        {% elif item.M15 == 'j_att'  %}
                    <form method="POST">
                        {{fuck1.hidden_tag() }}
                        <td  class="p-3 mb-2 bg-warning text-light myDIV" >  <i class="fas fa-exclamation-triangle"></i> <input id="fuck1" name="fuck1" type="hidden" value="{{[item.name,'M15']}}">{{ fuck1.submit(class="btn btn-secondary float-right bg-warning text-warning") }}</td>
                    </form>
                         {% elif item.M15 == 'Ojr_att' or item.M15 == 'Oj_att' %}
                    <form method="POST">
                        {{fuck1.hidden_tag() }}
                        <td  class="p-3 mb-2 bg-warning text-light text-center font-weight-bold myDIV" > <i class="fas fa-check-circle"></i> <i class="fas fa-exclamation-triangle"></i> <input id="fuck1" name="fuck1" type="hidden" value="{{[item.name,'M15']}}">{{ fuck1.submit(class="btn btn-secondary float-right bg-warning text-warning") }}</td>
                    </form>







                        {% endif %}






                    {% if item.H1 == 'chay' %}
                    <form method="POST">
                        {{fuck1.hidden_tag() }}
                        <td  class="p-3 mb-2 bg-muted text-dark" > p </td>
                    </form>
                        {% elif item.H1 == 'r'  %}
                    <form method="POST">
                        {{fuck1.hidden_tag() }}
                        <td  class="p-3 mb-2 bg-danger text-danger myDIV" > p <input id="fuck1" name="fuck1" type="hidden" value="{{[item.name,'H1']}}">{{ fuck1.submit(class="btn btn-secondary float-right bg-danger text-danger") }}</td>
                    </form>
                        {% elif item.H1 == 'Or' %}
                    <form method="POST">
                        {{fuck1.hidden_tag() }}
                        <td  class="p-3 mb-2 bg-danger text-light text-center font-weight-bold myDIV" > <i class="fas fa-check-circle"></i> <input id="fuck1" name="fuck1" type="hidden" value="{{[item.name,'H1']}}">{{ fuck1.submit(class="btn btn-secondary float-right bg-danger text-danger") }}</td>
                    </form>
                        {% elif item.H1 == 'v'%}
                    <form method="POST">
                        {{fuck1.hidden_tag() }}
                        <td  class="p-3 mb-2 bg-success text-success myDIV" > p <input id="fuck1" name="fuck1" type="hidden" value="{{[item.name,'H1']}}">{{ fuck1.submit(class="btn btn-secondary float-right bg-success text-success") }}</td>
                    </form>
                        {% elif item.H1 == 'O' %}
                    <form method="POST">
                        {{fuck1.hidden_tag() }}
                        <td  class="p-3 mb-2 bg-success text-light text-center font-weight-bold myDIV" > <i class="fas fa-check-circle"></i> <input id="fuck1" name="fuck1" type="hidden" value="{{[item.name,'H1']}}">{{ fuck1.submit(class="btn btn-secondary float-right bg-success text-success") }}</td>
                    </form>
                        {% elif item.H1 == 'j'  %}
                    <form method="POST">
                        {{fuck1.hidden_tag() }}
                        <td  class="p-3 mb-2 bg-warning text-warning myDIV" > p <input id="fuck1" name="fuck1" type="hidden" value="{{[item.name,'H1']}}">{{ fuck1.submit(class="btn btn-secondary float-right bg-warning text-warning") }}</td>
                    </form>
                        {% elif item.H1 == 'Ojr' or item.H1 == 'Oj' %}
                    <form method="POST">
                        {{fuck1.hidden_tag() }}
                        <td  class="p-3 mb-2 bg-warning text-light text-center font-weight-bold myDIV" > <i class="fas fa-check-circle"></i> <input id="fuck1" name="fuck1" type="hidden" value="{{[item.name,'H1']}}">{{ fuck1.submit(class="btn btn-secondary float-right bg-warning text-warning") }}</td>
                    </form>
                        {% elif item.H1 == 'T'  %}
                    <form method="POST">
                        {{fuck1.hidden_tag() }}
                        <td  class="p-3 mb-2 bg-success text-light text-center font-weight-bold myDIV" > T <input id="fuck1" name="fuck1" type="hidden" value="{{[item.name,'H1']}}">{{ fuck1.submit(class="btn btn-secondary float-right bg-warning border border-warning text-warning h-10 d-inline-block") }}</td>
                    </form>
                        {% elif item.H1 == 'Tr' %}
                    <form method="POST">
                        {{fuck1.hidden_tag() }}
                        <td  class="p-3 mb-2 bg-danger text-light text-center font-weight-bold myDIV" > T <input id="fuck1" name="fuck1" type="hidden" value="{{[item.name,'H1']}}">{{ fuck1.submit(class="btn btn-secondary float-right bg-warning border border-warning text-warning h-10 d-inline-block") }}</td>
                    </form>



                    {% elif item.H1 == 'r_att'  %}
                    <form method="POST">
                        {{fuck1.hidden_tag() }}
                        <td  class="p-3 mb-2 bg-danger text-light myDIV" >  <i class="fas fa-exclamation-triangle"></i> <input id="fuck1" name="fuck1" type="hidden" value="{{[item.name,'H1']}}">{{ fuck1.submit(class="btn btn-secondary float-right bg-danger text-danger") }}</td>
                    </form>
                        {% elif item.H1 == 'Or_att' %}
                    <form method="POST">
                        {{fuck1.hidden_tag() }}
                        <td  class="p-3 mb-2 bg-danger text-light text-center font-weight-bold myDIV" > <i class="fas fa-check-circle"></i> <i class="fas fa-exclamation-triangle"></i> <input id="fuck1" name="fuck1" type="hidden" value="{{[item.name,'H1']}}">{{ fuck1.submit(class="btn btn-secondary float-right bg-danger text-danger") }}</td>
                    </form>
                        {% elif item.H1 == 'v_att'%}
                    <form method="POST">
                        {{fuck1.hidden_tag() }}
                        <td  class="p-3 mb-2 bg-success text-light myDIV" >  <i class="fas fa-exclamation-triangle"></i> <input id="fuck1" name="fuck1" type="hidden" value="{{[item.name,'H1']}}">{{ fuck1.submit(class="btn btn-secondary float-right bg-success text-success") }}</td>
                    </form>
                        {% elif item.H1 == 'O_att' %}
                    <form method="POST">
                        {{fuck1.hidden_tag() }}
                        <td  class="p-3 mb-2 bg-success text-light text-center font-weight-bold myDIV" > <i class="fas fa-check-circle"></i> <i class="fas fa-exclamation-triangle"></i> <input id="fuck1" name="fuck1" type="hidden" value="{{[item.name,'H1']}}">{{ fuck1.submit(class="btn btn-secondary float-right bg-success text-success") }}</td>
                    </form>
                        {% elif item.H1 == 'j_att'  %}
                    <form method="POST">
                        {{fuck1.hidden_tag() }}
                        <td  class="p-3 mb-2 bg-warning text-light myDIV" >  <i class="fas fa-exclamation-triangle"></i> <input id="fuck1" name="fuck1" type="hidden" value="{{[item.name,'H1']}}">{{ fuck1.submit(class="btn btn-secondary float-right bg-warning text-warning") }}</td>
                    </form>
                        {% elif item.H1 == 'Ojr_att' or item.H1 == 'Oj_att' %}
                    <form method="POST">
                        {{fuck1.hidden_tag() }}
                        <td  class="p-3 mb-2 bg-warning text-light text-center font-weight-bold myDIV" > <i class="fas fa-check-circle"></i> <i class="fas fa-exclamation-triangle"></i> <input id="fuck1" name="fuck1" type="hidden" value="{{[item.name,'H1']}}">{{ fuck1.submit(class="btn btn-secondary float-right bg-warning text-warning") }}</td>
                    </form>








                        {% endif %}




                    {% if item.H4 == 'chay' %}
                    <form method="POST">
                        {{fuck1.hidden_tag() }}
                        <td  class="p-3 mb-2 bg-muted text-dark" > p </td>
                    </form>
                        {% elif item.H4 == 'r'  %}
                    <form method="POST">
                        {{fuck1.hidden_tag() }}
                        <td  class="p-3 mb-2 bg-danger text-danger myDIV" > p <input id="fuck1" name="fuck1" type="hidden" value="{{[item.name,'H4']}}">{{ fuck1.submit(class="btn btn-secondary float-right bg-danger text-danger") }}</td>
                    </form>
                         {% elif item.H4 == 'Or' %}
                    <form method="POST">
                        {{fuck1.hidden_tag() }}
                        <td  class="p-3 mb-2 bg-danger text-light text-center font-weight-bold myDIV" > <i class="fas fa-check-circle"></i> <input id="fuck1" name="fuck1" type="hidden" value="{{[item.name,'H4']}}">{{ fuck1.submit(class="btn btn-secondary float-right bg-danger text-danger") }}</td>
                    </form>
                        {% elif item.H4 == 'v'  %}
                    <form method="POST">
                        {{fuck1.hidden_tag() }}
                        <td  class="p-3 mb-2 bg-success text-success myDIV" > p <input id="fuck1" name="fuck1" type="hidden" value="{{[item.name,'H4']}}">{{ fuck1.submit(class="btn btn-secondary float-right bg-success text-success") }}</td>
                    </form>
                        {% elif item.H4 == 'O' %}
                    <div class = "myDIV">
                    <form method="POST">
                        {{fuck1.hidden_tag() }}
                        <td  class="p-3 mb-2 bg-success text-light text-center font-weight-bold myDIV" > <i class="fas fa-check-circle"></i> <input id="fuck1" name="fuck1" type="hidden" value="{{[item.name,'H4']}}"><div class="hide">{{ fuck1.submit(class="btn btn-secondary float-right bg-success text-success") }}</div></td>
                    </form>
                        </div>
                        {% elif item.H4 == 'j'  %}
                    <form method="POST">
                        {{fuck1.hidden_tag() }}
                        <td  class="p-3 mb-2 bg-warning text-warning myDIV" > p <input id="fuck1" name="fuck1" type="hidden" value="{{[item.name,'H4']}}">{{ fuck1.submit(class="btn btn-secondary float-right bg-warning text-warning") }}</td>
                    </form>
                        {% elif item.H4 == 'Ojr' or item.H4== 'Oj' %}
                    <form method="POST">
                        {{fuck1.hidden_tag() }}
                        <td  class="p-3 mb-2 bg-warning text-light text-center font-weight-bold myDIV" > <i class="fas fa-check-circle"></i> <input id="fuck1" name="fuck1" type="hidden" value="{{[item.name,'H4']}}">{{ fuck1.submit(class="btn btn-secondary float-right bg-warning text-warning") }}</td>
                    </form>
                        {% elif item.H4 == 'T'  %}
                    <form method="POST">
                        {{fuck1.hidden_tag() }}
                        <td  class="p-3 mb-2 bg-success text-light text-center font-weight-bold myDIV" > T <input id="fuck1" name="fuck1" type="hidden" value="{{[item.name,'H4']}}">{{ fuck1.submit(class="btn btn-secondary float-right bg-warning border border-warning text-warning h-10 d-inline-block") }}</td>
                    </form>
                        {% elif item.H4 == 'Tr' %}
                    <form method="POST">
                        {{fuck1.hidden_tag() }}
                        <td  class="p-3 mb-2 bg-danger text-light text-center font-weight-bold myDIV" > T <input id="fuck1" name="fuck1" type="hidden" value="{{[item.name,'H4']}}">{{ fuck1.submit(class="btn btn-secondary float-right bg-warning border border-warning text-warning h-10 d-inline-block") }}</td>
                    </form>



                    {% elif item.H4 == 'r_att'  %}
                    <form method="POST">
                        {{fuck1.hidden_tag() }}
                        <td  class="p-3 mb-2 bg-danger text-light myDIV" >  <i class="fas fa-exclamation-triangle"></i> <input id="fuck1" name="fuck1" type="hidden" value="{{[item.name,'H4']}}">{{ fuck1.submit(class="btn btn-secondary float-right bg-danger text-danger") }}</td>
                    </form>
                         {% elif item.H4 == 'Or_att' %}
                    <form method="POST">
                        {{fuck1.hidden_tag() }}
                        <td  class="p-3 mb-2 bg-danger text-light text-center font-weight-bold myDIV" > <i class="fas fa-check-circle"></i> <i class="fas fa-exclamation-triangle"></i> <input id="fuck1" name="fuck1" type="hidden" value="{{[item.name,'H4']}}">{{ fuck1.submit(class="btn btn-secondary float-right bg-danger text-danger") }}</td>
                    </form>
                        {% elif item.H4 == 'v_att'  %}
                    <form method="POST">
                        {{fuck1.hidden_tag() }}
                        <td  class="p-3 mb-2 bg-success text-light myDIV" >  <i class="fas fa-exclamation-triangle"></i> <input id="fuck1" name="fuck1" type="hidden" value="{{[item.name,'H4']}}">{{ fuck1.submit(class="btn btn-secondary float-right bg-success text-success") }}</td>
                    </form>
                        {% elif item.H4 == 'O_att' %}
                    <div class = "myDIV">
                    <form method="POST">
                        {{fuck1.hidden_tag() }}
                        <td  class="p-3 mb-2 bg-success text-light text-center font-weight-bold myDIV" > <i class="fas fa-check-circle"></i> <i class="fas fa-exclamation-triangle"></i> <input id="fuck1" name="fuck1" type="hidden" value="{{[item.name,'H4']}}"><div class="hide">{{ fuck1.submit(class="btn btn-secondary float-right bg-success text-success") }}</div></td>
                    </form>
                        </div>
                        {% elif item.H4 == 'j_att'  %}
                    <form method="POST">
                        {{fuck1.hidden_tag() }}
                        <td  class="p-3 mb-2 bg-warning text-light myDIV" >  <i class="fas fa-exclamation-triangle"></i> <input id="fuck1" name="fuck1" type="hidden" value="{{[item.name,'H4']}}">{{ fuck1.submit(class="btn btn-secondary float-right bg-warning text-warning") }}</td>
                    </form>
                        {% elif item.H4 == 'Ojr_att' or item.H4== 'Oj_att' %}
                    <form method="POST">
                        {{fuck1.hidden_tag() }}
                        <td  class="p-3 mb-2 bg-warning text-light text-center font-weight-bold myDIV" > <i class="fas fa-check-circle"> <i class="fas fa-exclamation-triangle"></i> </i> <input id="fuck1" name="fuck1" type="hidden" value="{{[item.name,'H4']}}">{{ fuck1.submit(class="btn btn-secondary float-right bg-warning text-warning") }}</td>
                    </form>







                        {% endif %}




                    {% if item.D1 == 'chay' %}
                    <form method="POST">
                        {{fuck1.hidden_tag() }}
                        <td  class="p-3 mb-2 bg-muted text-dark" > p </td>
                    </form>
                        {% elif item.D1 == 'r'  %}
                    <form method="POST">
                        {{fuck1.hidden_tag() }}
                        <td  class="p-3 mb-2 bg-danger text-danger myDIV" > p <input id="fuck1" name="fuck1" type="hidden" value="{{[item.name,'D1']}}">{{ fuck1.submit(class="btn btn-secondary float-right bg-danger text-danger") }}</td>
                    </form>
                        {% elif item.D1 == 'Or' %}
                    <form method="POST">
                        {{fuck1.hidden_tag() }}
                        <td  class="p-3 mb-2 bg-danger text-light text-center font-weight-bold myDIV" > <i class="fas fa-check-circle"></i> <input id="fuck1" name="fuck1" type="hidden" value="{{[item.name,'D1']}}">{{ fuck1.submit(class="btn btn-secondary float-right bg-danger text-danger") }}</td>
                    </form>
                        {% elif item.D1 == 'v'  %}
                    <form method="POST">
                        {{fuck1.hidden_tag() }}
                        <td  class="p-3 mb-2 bg-success text-success myDIV" > p <input id="fuck1" name="fuck1" type="hidden" value="{{[item.name,'D1']}}">{{ fuck1.submit(class="btn btn-secondary float-right bg-success text-success") }}</td>
                    </form>
                         {% elif item.D1 == 'O' %}
                    <form method="POST">
                        {{fuck1.hidden_tag() }}
                        <td  class="p-3 mb-2 bg-success text-light text-center font-weight-bold myDIV" > <i class="fas fa-check-circle"></i> <input id="fuck1" name="fuck1" type="hidden" value="{{[item.name,'D1']}}">{{ fuck1.submit(class="btn btn-secondary float-right bg-success text-success") }}</td>
                    </form>
                        {% elif item.D1 == 'j'  %}
                    <form method="POST">
                        {{fuck1.hidden_tag() }}
                        <td  class="p-3 mb-2 bg-warning text-warning myDIV" > p <input id="fuck1" name="fuck1" type="hidden" value="{{[item.name,'D1']}}">{{ fuck1.submit(class="btn btn-secondary float-right bg-warning text-warning") }}</td>
                    </form>
                        {% elif item.D1 == 'Ojr' or item.D1 == 'Oj' %}
                    <form method="POST">
                        {{fuck1.hidden_tag() }}
                        <td  class="p-3 mb-2 bg-warning text-light text-center font-weight-bold myDIV"  > <i class="fas fa-check-circle"></i>  <input id="fuck1" name="fuck1" type="hidden" value="{{[item.name,'D1']}}">{{ fuck1.submit(class="btn btn-secondary float-right bg-warning text-warning") }}</td>
                    </form>
                        {% elif item.D1 == 'T'  %}
                    <form method="POST">
                        {{fuck1.hidden_tag() }}
                        <td  class="p-3 mb-2 bg-success text-light text-center font-weight-bold myDIV" > T <input id="fuck1" name="fuck1" type="hidden" value="{{[item.name,'D1']}}">{{ fuck1.submit(class="btn btn-secondary float-right bg-warning border border-warning text-warning h-10 d-inline-block") }}</td>
                    </form>
                        {% elif item.D1 == 'Tr' %}
                    <form method="POST">
                        {{fuck1.hidden_tag() }}
                        <td  class="p-3 mb-2 bg-danger text-light text-center font-weight-bold myDIV" > T <input id="fuck1" name="fuck1" type="hidden" value="{{[item.name,'D1']}}">{{ fuck1.submit(class="btn btn-secondary float-right bg-warning border border-warning text-warning h-10 d-inline-block") }}</td>
                    </form>





                    {% elif item.D1 == 'r_att'  %}
                    <form method="POST">
                        {{fuck1.hidden_tag() }}
                        <td  class="p-3 mb-2 bg-danger text-light myDIV" >  <i class="fas fa-exclamation-triangle"></i> <input id="fuck1" name="fuck1" type="hidden" value="{{[item.name,'D1']}}">{{ fuck1.submit(class="btn btn-secondary float-right bg-danger text-danger") }}</td>
                    </form>
                        {% elif item.D1 == 'Or_att' %}
                    <form method="POST">
                        {{fuck1.hidden_tag() }}
                        <td  class="p-3 mb-2 bg-danger text-light text-center font-weight-bold myDIV" > <i class="fas fa-check-circle"></i> <i class="fas fa-exclamation-triangle"></i> <input id="fuck1" name="fuck1" type="hidden" value="{{[item.name,'D1']}}">{{ fuck1.submit(class="btn btn-secondary float-right bg-danger text-danger") }}</td>
                    </form>
                        {% elif item.D1 == 'v_att'  %}
                    <form method="POST">
                        {{fuck1.hidden_tag() }}
                        <td  class="p-3 mb-2 bg-success text-light myDIV" >  <i class="fas fa-exclamation-triangle"></i> <input id="fuck1" name="fuck1" type="hidden" value="{{[item.name,'D1']}}">{{ fuck1.submit(class="btn btn-secondary float-right bg-success text-success") }}</td>
                    </form>
                         {% elif item.D1 == 'O_att' %}
                    <form method="POST">
                        {{fuck1.hidden_tag() }}
                        <td  class="p-3 mb-2 bg-success text-light text-center font-weight-bold myDIV" > <i class="fas fa-check-circle"></i> <i class="fas fa-exclamation-triangle"></i><input id="fuck1" name="fuck1" type="hidden" value="{{[item.name,'D1']}}">{{ fuck1.submit(class="btn btn-secondary float-right bg-success text-success") }}</td>
                    </form>
                        {% elif item.D1 == 'j_att'  %}
                    <form method="POST">
                        {{fuck1.hidden_tag() }}
                        <td  class="p-3 mb-2 bg-warning text-light myDIV" >  <i class="fas fa-exclamation-triangle"></i> <input id="fuck1" name="fuck1" type="hidden" value="{{[item.name,'D1']}}">{{ fuck1.submit(class="btn btn-secondary float-right bg-warning text-warning") }}</td>
                    </form>
                        {% elif item.D1 == 'Ojr_att' or item.D1 == 'Oj_att' %}
                    <form method="POST">
                        {{fuck1.hidden_tag() }}
                        <td  class="p-3 mb-2 bg-warning text-light text-center font-weight-bold myDIV"  > <i class="fas fa-check-circle"></i> <i class="fas fa-exclamation-triangle"></i> <input id="fuck1" name="fuck1" type="hidden" value="{{[item.name,'D1']}}">{{ fuck1.submit(class="btn btn-secondary float-right bg-warning text-warning") }}</td>
                    </form>







                        {% endif %}






                </tr>
            {% endfor %}
        </tbody>
    </table>

        </div>
    <div >
        {% with messages = get_flashed_messages(with_categories=true)%}

      {% if messages %}

      {% for category, message in messages %}

      <div class="alert alert-{{category}}">

          <button type="button" class = "m1-2 mb-1 close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          {{ message }}
      </div>

      {% endfor%}

      {% endif %}

      {% endwith %}

        </div>
       <style>
table, td, th {
  border: 1px solid black;
}
      body {
        background-color: #212121;
        color: white
      }
  </style>
    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>

    <!-- Option 2: jQuery, Popper.js, and Bootstrap JS
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
    -->

  <script>

 setTimeout(function(){
   $( "#mytable" ).load( "home.html #mytable" );
}, 10000); //refresh every 10 seconds</script>





  </body>
